#root {
  max-width: 1280px;
  width: 900px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
  height: 100%;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


#loginButton {
  border-radius: 20px;
  margin: 20px;
  font-weight: bold;
  color: black;
  background: rgb(16,88,180);
  background: linear-gradient(90deg, rgba(16,88,180,1) 60%, rgb(30, 163, 39) 100%);
  width: 200px;
  font-size: 30px;
  border: solid 5px black;
  cursor: pointer;
}


#loginButton:hover {
  background: rgb(16,88,180);
  background: linear-gradient(90deg, rgba(16,88,180,1) 30%, rgb(30, 163, 39) 70%);
}