.pwBar {
    background-color: rgb(45, 50, 72);
    height: 100px;
    width: calc(100% - 20px);
    padding: 0px 10px;
    color: white;

  }

.pwBar h2 {
    display: inline;
    position: relative;
    top: -30px;
    margin-left: 10px;
    align-self: left;
}

.pwBar img {
    height: 90%;
}

.lowerBar {
    height: 10px;
    width: calc(100% + 20px);
    position: relative;
    background-color: white;
    bottom: 10px;
    left: -10px;
    opacity: 0.1;
}