.pwBar {
    background-color: rgb(45, 50, 72);
    height: 100px;
    width: calc(100% - 20px);
    padding: 0px 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pwBar h2 {
    margin-left: 10px;
  }

  .pwBar img {
    height: 90%;
  }

  .lowerBar {
    height: 10px;
    width: calc(100% + 20px);
    display: block;
    position: absolute;
    background-color: white;
    bottom: 10px;
    left: -10px;
    opacity: 0.1;
  }

